<div class="tempimage d-flex justify-content-center align-items-center slider">
  <div data-controller="slideshow" data-slideshow-index-value="1">
    <button data-action="slideshow#previous">Previous</button>

    <img data-slideshow-target="slide" src="https://res.cloudinary.com/daaxwngzv/image/upload/v1722958312/commercial-window-cleaning-new_nennf8.jpg", class="slideimage", alt="Slide 1">
    <img data-slideshow-target="slide" src="https://res.cloudinary.com/daaxwngzv/image/upload/v1722958297/washing_a_very_tall_window_nywayl.jpg", class="slideimage",alt="Slide 2" >
    <img data-slideshow-target="slide" src="https://res.cloudinary.com/daaxwngzv/image/upload/v1722958279/istockphoto-162353089-612x612_nftbc2.jpg", class="slideimage",alt="Slide 3">


    <button data-action="slideshow#next">Next</button>
  </div>

</div>



<section class="articles pt-4" >
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="https://res.cloudinary.com/daaxwngzv/image/upload/v1724162210/glasfassadenreinigung_uzyp7n.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>This is some title</h2>
        <p>
          Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
        </p>

          <%= link_to services_path do %>
            <div class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          <% end %>

      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://res.cloudinary.com/daaxwngzv/image/upload/v1724162200/windowcleaningim_xfqsvu.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>This is some title</h2>
        <p>
          Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
        </p>
        <%= link_to services_path do %>
            <div class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          <% end %>

      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://res.cloudinary.com/daaxwngzv/image/upload/v1724162189/commercial-window-cleaning-service-3_uomzuy.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>This is some title</h2>
        <p>
          Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
        </p>
        <%= link_to services_path do %>
            <div class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          <% end %>
      </div>
    </div>
  </article>
</section>

<div class="container card pt-4 mt-4 mb-4">

  <h1>Window Cleaning Services</h1>
  <div class="mainstart pb-4">
    <div class="para1 pe-4">
      <p>Lorem ipsum dolor sit amet. Ut velit sint hic fuga pariatur cum quia voluptas eos dolorem odio ut placeat vitae. Aut quas vero hic sunt facere non quas illo. Qui omnis optio eos laborum provident et obcaecati reiciendis et voluptatem facilis a sint amet. Est minima alias At quidem galisum qui cumque laborum aut harum quia aut sequi velit. Et culpa laboriosam eum provident nobis est iste sint est mollitia rerum qui dolores voluptate. Et assumenda dolores sed repellat repellendus est temporibus porro ut assumenda quaerat et dolorum eligendi aut blanditiis distinctio. Ut molestiae reiciendis et perspiciatis pariatur ut doloremque nisi vel dolores debitis. Eum optio saepe ut voluptas deleniti aut distinctio totam ab aspernatur ratione aut dolores iste. Et officiis laudantium ut sint tempora et voluptate rerum At nemo enim vel sunt mollitia est minus dolore. Qui eius impedit quo error Quis qui fugiat porro et nemo repellendus id dolor veritatis. Et illo cupiditate sed odit vero cum omnis illum et voluptas nihil. </p>
    </div>
    <div>
      <%=cl_image_tag("istockphoto-162353089-612x612_nftbc2")  %>
    </div>
  </div>
  <h2><u>More cleaning stuff</u></h2>
  <p>Et labore Quis id velit recusandae et doloribus voluptates et quia dolorum. Qui soluta assumenda et excepturi sunt eum minus laboriosam ea dolorem iste. Aut culpa debitis sed laudantium dolores est sint praesentium non Quis laudantium. Ut velit molestias hic quam explicabo ea sapiente unde quo necessitatibus animi rem dolorum enim ut dolore minus. Qui voluptatibus architecto qui temporibus modi vel sint repellat eos earum dolor qui unde aspernatur eos exercitationem harum et illum ipsam. Rem dicta quia in dolor accusamus eum illum quia qui quidem atque non voluptates reiciendis. Aut nostrum aliquam nam asperiores voluptate ut fugit ipsa et ratione atque sed quod mollitia 33 dolorum ipsam id explicabo quia. Eum pariatur perferendis et illo harum qui tempore reprehenderit? </p>
  <h2><u>Whats this more cleaning</u></h2>
  <div class="mainstart pb-4">
    <div class="para1 pe-4">
      <p>33 velit repellendus est architecto assumenda quo quia minima id magni omnis aut voluptas nobis ab vitae tenetur et minus magni. Ut nostrum dolorum qui fuga ratione sed officiis obcaecati eum libero vero et eveniet ratione quo deleniti velit. Id doloribus ratione rem veniam magni est delectus error ut iste ipsam. Aut iusto reiciendis quo dolores ducimus aut libero laudantium non officiis architecto non magni necessitatibus qui voluptatem adipisci. Et Quis illum eum veniam temporibus 33 architecto doloremque eum fuga debitis et rerum consequatur ut error assumenda? Ut consequuntur vero eos temporibus itaque ut doloribus galisum qui aliquam soluta est pariatur laudantium sed distinctio autem. Qui accusantium rerum aut quibusdam optio est accusantium internos non tempora dolores et quia minima. Est officia Quis sit laboriosam Quis est mollitia voluptatem aut facere animi et praesentium maxime eum iusto consequatur. Eos placeat optio a impedit doloribus a voluptas nobis id repellat corrupti qui alias maxime. Et deleniti nihil non vitae mollitia et illum similique. Est natus quos quo debitis ipsum qui nulla aspernatur qui dolorum aliquam qui quia assumenda. </p>
    </div>
    <div>
      <%=cl_image_tag("windowcleaningim_xfqsvu", class: "mainsmallimage")  %>
    </div>
  </div>
  <h2><u>We love clean windows</u></h2>
  <p>Ad obcaecati mollitia aut ipsum cupiditate aut consequuntur ratione est consequatur expedita et ipsum rerum rem tempore voluptatem. Ut consequatur quia est iure ipsum ut ipsa doloremque ad dolore fugiat vel unde sint qui praesentium cupiditate non aspernatur tenetur. Sed iste quas ea aliquam architecto ut molestiae enim. Est porro quaerat ut voluptatibus odio aut illum dolorem qui neque quia? Non aliquid tempore et quisquam dolorem rem autem assumenda et repellendus doloribus et inventore quia et unde culpa in adipisci alias? Et quae porro non consequatur sint ut quia voluptatibus quo aliquam vitae. Et corporis eaque eum illo omnis non dolores alias. Et voluptatibus omnis aut omnis molestiae nam minus consequatur qui fugiat voluptatem. </p>
  <div class="mainstart pb-4">
    <div class="para1">
      <h2>Good place to put the areas</h2>
      <ul>
        <li>area 1</li>
        <li>area 2</li>
        <li>area 3</li>
        <li>area 4</li>
        <li>area 5</li>
        <li>area 6</li>
        <li>area 7</li>
        <li>area 8</li>
        <li>area 9</li>

      </ul>
    </div>
      <div>
        <%=cl_image_tag("mapOfSutton_hzcwqc", class: "mainmedimage")  %>
      </div>

  </div>
  <p>At quibusdam earum et modi esse ab praesentium provident 33 distinctio eaque. A vitae minus ab esse dolorum ut distinctio earum. In esse dolorem sed accusantium voluptatum ut ipsum assumenda aut veniam repellendus qui nobis nesciunt et eius dolor id voluptatem quis. Est nobis ipsum et omnis excepturi et suscipit laboriosam. Sed numquam quas eum corrupti pariatur sit consequatur necessitatibus. Non voluptas quam sit eius sunt in dolor earum. Et impedit quod et repellat dolore sit nihil adipisci qui doloremque ullam in voluptatem accusamus qui adipisci atque. Est delectus quisquam et omnis eligendi qui adipisci maiores cum sapiente dolorum. </p>

</div>
