<div class="tempimage d-flex justify-content-center align-items-center slider">
  <div data-controller="slideshow" data-slideshow-index-value="1">
    <button data-action="slideshow#previous">Previous</button>

    <img data-slideshow-target="slide" src="https://res.cloudinary.com/daaxwngzv/image/upload/v1722958312/commercial-window-cleaning-new_nennf8.jpg", class="slideimage", alt="Slide 1">
    <img data-slideshow-target="slide" src="https://res.cloudinary.com/daaxwngzv/image/upload/v1722958297/washing_a_very_tall_window_nywayl.jpg", class="slideimage",alt="Slide 2" >
    <img data-slideshow-target="slide" src="https://res.cloudinary.com/daaxwngzv/image/upload/v1722958279/istockphoto-162353089-612x612_nftbc2.jpg", class="slideimage",alt="Slide 3">


    <button data-action="slideshow#next">Next</button>
  </div>

</div>



<section class="articles pt-4" >
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="https://res.cloudinary.com/daaxwngzv/image/upload/v1724162210/glasfassadenreinigung_uzyp7n.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>Window Cleaning</h2>
        <p>
          Comprehensive cleaning of both <b>inside and outside</b> glass for a flawless finish.
        </p>

          <%= link_to services_path do %>
            <div class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          <% end %>

      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://res.cloudinary.com/daaxwngzv/image/upload/v1724162200/windowcleaningim_xfqsvu.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Conservatories & Orangeries</h2>
        <p>
        Specialized cleaning for glass roofs and intricate frames to keep your sunroom bright.
        </p>
        <%= link_to services_path do %>
            <div class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          <% end %>

      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://res.cloudinary.com/daaxwngzv/image/upload/v1724162189/commercial-window-cleaning-service-3_uomzuy.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>Gutter Cleaning</h2>
        <p>
         Essential maintenance to remove debris and ensure your drainage system works perfectly.
        </p>
        <%= link_to services_path do %>
            <div class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          <% end %>
      </div>
    </div>

  </article>
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="https://res.cloudinary.com/daaxwngzv/image/upload/v1724162189/commercial-window-cleaning-service-3_uomzuy.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>Patio Cleaning</h2>
        <p>
         Restore your outdoor spaces with our high-pressure jet washer—removing moss, algae, and grime.
        </p>
        <%= link_to services_path do %>
            <div class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          <% end %>
      </div>
    </div>
  </article>

</section>

<div class="container card pt-4 mt-4 mb-4">

  <h1>Window Cleaning Services</h1>
  <div class="mainstart pb-4">
    <div class="para1 pe-4">
      <p>Looking for a reliable, professional touch for your home? Meet Mark Nugent, the face behind Apollo Window Cleaning. With over 20 years of experience in the industry, Mark combines traditional pride in his work with proven methods to ensure your property looks its absolute best.</p>
    </div>
    <div>
      <%=cl_image_tag("istockphoto-162353089-612x612_nftbc2", class: "medimagetext")  %>
    </div>
  </div>
  <h2><u>Why Choose Apollo Window Cleaning?</u></h2>
  <p>We believe in more than just a quick wipe-down. We offer a friendly, professional service that you can rely on year-round.</p>
    <ul>
      <li><b>Experienced Pro:</b> With two decades of hands-on experience, there isn’t a smudge or streak Mark hasn't mastered.</li>
      <li><b>Advanced Reach Pole System:</b> We use a high-reach water-fed pole system, allowing us to clean high windows safely from the ground while reaching awkward angles with ease.</li>
      <li><b>Safety & Privacy:</b> Our system reduces the need for ladders, protecting your landscaping and ensuring your privacy.</li>
    </ul>
  <h2><u>Whats this more cleaning</u></h2>
  <div class="mainstart pb-4">
    <div class="para1 pe-4">
      <p>33 velit repellendus est architecto assumenda quo quia minima id magni omnis aut voluptas nobis ab vitae tenetur et minus magni. Ut nostrum dolorum qui fuga ratione sed officiis obcaecati eum libero vero et eveniet ratione quo deleniti velit. Id doloribus ratione rem veniam magni est delectus error ut iste ipsam. Aut iusto reiciendis quo dolores ducimus aut libero laudantium non officiis architecto non magni necessitatibus qui voluptatem adipisci. Et Quis illum eum veniam temporibus 33 architecto doloremque eum fuga debitis et rerum consequatur ut error assumenda? Ut consequuntur vero eos temporibus itaque ut doloribus galisum qui aliquam soluta est pariatur laudantium sed distinctio autem. Qui accusantium rerum aut quibusdam optio est accusantium internos non tempora dolores et quia minima. Est officia Quis sit laboriosam Quis est mollitia voluptatem aut facere animi et praesentium maxime eum iusto consequatur. Eos placeat optio a impedit doloribus a voluptas nobis id repellat corrupti qui alias maxime. Et deleniti nihil non vitae mollitia et illum similique. Est natus quos quo debitis ipsum qui nulla aspernatur qui dolorum aliquam qui quia assumenda. </p>
    </div>
    <div>
      <%=cl_image_tag("windowcleaningim_xfqsvu", class: "mainsmallimage")  %>
    </div>
  </div>
  <h2><u>We love clean windows</u></h2>
  <p>Ad obcaecati mollitia aut ipsum cupiditate aut consequuntur ratione est consequatur expedita et ipsum rerum rem tempore voluptatem. Ut consequatur quia est iure ipsum ut ipsa doloremque ad dolore fugiat vel unde sint qui praesentium cupiditate non aspernatur tenetur. Sed iste quas ea aliquam architecto ut molestiae enim. Est porro quaerat ut voluptatibus odio aut illum dolorem qui neque quia? Non aliquid tempore et quisquam dolorem rem autem assumenda et repellendus doloribus et inventore quia et unde culpa in adipisci alias? Et quae porro non consequatur sint ut quia voluptatibus quo aliquam vitae. Et corporis eaque eum illo omnis non dolores alias. Et voluptatibus omnis aut omnis molestiae nam minus consequatur qui fugiat voluptatem. </p>
  <div class="mainstart pb-4">
    <div class="para1">
      <h2>Good place to put the areas</h2>
      <ul>
        <li>area 1</li>
        <li>area 2</li>
        <li>area 3</li>
        <li>area 4</li>
        <li>area 5</li>
        <li>area 6</li>
        <li>area 7</li>
        <li>area 8</li>
        <li>area 9</li>

      </ul>
    </div>
      <div>
        <%=cl_image_tag("mapOfSutton_hzcwqc", class: "mainmedimage")  %>
      </div>

  </div>
  <div class="pb-2">
    <h3>Get In Touch</h3>
    <p>Don’t let grime dull your view. Trust the expert who treats your home like his own. For a free, no-obligation quote or to book your next clean, reach out to Mark today:</p>
    <ul>
      <li>Call/Text Mark Nugent: 07832 355491</li>
      <li>Email: Mark@apollowindowcleaning.com</li>
    </ul>
    <div class="text-center"><i>"Friendly service, professional results, and twenty years of local trust—that’s the Apollo promise."</i></div>
  </div>
</div>
